/* ===========================
   DASHBOARD
=========================== */

body{
    background:#F5F7FB;
}

.dashboard-card{
    background:#fff;
    border:none;
    border-radius:22px;
    box-shadow:0 8px 25px rgba(15,23,42,.08);
    transition:.35s;
    overflow:hidden;
    height:180px;
}

.dashboard-card:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 40px rgba(37,99,235,.15);
}

.dashboard-card .card-body{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:25px;
    height:100%;
}

.dashboard-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(37,99,235,.18);
}

.dashboard-card .card-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
}

.icon{
    width:70px;
    height:70px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:18px;

    background:#EEF4FF;

    color:#2563EB;

    font-size:32px;
}

.dashboard-card:hover .icon{
    transform:scale(1.15);
}

.dashboard-card h6{

    color:#6B7280;
    font-size:15px;
    font-weight:600;
    margin-bottom:8px;

}

.dashboard-card h2{

    color:#111827;
    font-size:42px;
    font-weight:700;
    margin:0;

}

/* ===========================
   TABLEAU
=========================== */

.table{
    border-radius:15px;
    overflow:hidden;
}

.table thead{
    background:#2563EB;
    color:white;
}

.table thead th{
    border:none;
    padding:15px;
}

.table tbody td{
    padding:15px;
    vertical-align:middle;
}

.table tbody tr:hover{
    background:#F8FAFC;
}

/* ===========================
   BADGES
=========================== */

.badge{
    font-size:13px;
    padding:8px 12px;
    border-radius:30px;
}

/* ===========================
   TITRES
=========================== */

.page-title{
    font-size:32px;
    font-weight:700;
    color:#1F2937;
}

.page-subtitle{
    color:#6B7280;
    margin-top:-8px;
}

/* ===========================
   CARD PRODUITS STOCK FAIBLE
=========================== */

.card{
    border:none;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.card-header{
    border-bottom:1px solid #EDF2F7 !important;
}
.dashboard-header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:25px;
}

.dashboard-icon{
    font-size:26px;
    color:#2563EB;
}

.dashboard-title{
    font-size:26px;
    font-weight:600;
    color:#6B7280;
}

.dashboard-value{
    font-size:48px;
    font-weight:700;
    color:#111827;
    margin:0;
}